<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Laralink">
  <!-- Site Title -->
  <title>Grow Invoice Template</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/public/style.css"> -->
  <%- include('../styleTag.ejs') %>
</head>

<body>
  <div class="tm_container">
    <div class="tm_invoice_wrap">
      <div class="tm_invoice tm_style1 tm_type2" id="tm_download_section">
        <div class="tm_bars">
          <span class="tm_accent_bg"></span>
          <span class="tm_accent_bg"></span>
          <span class="tm_accent_bg"></span>
        </div>
        <div class="tm_bars tm_type1">
          <span class="tm_accent_bg"></span>
          <span class="tm_accent_bg"></span>
          <span class="tm_accent_bg"></span>
        </div>
        <div class="tm_shape">
          <div class="tm_shape_in tm_accent_bg"></div>
        </div>
        <div class="tm_shape_2 tm_primary_color">
          <div class="tm_shape_2_in tm_accent_color"></div>
        </div>
        <div class="tm_shape_2 tm_type1 tm_primary_color">
          <div class="tm_shape_2_in tm_accent_color"></div>
        </div>
        <!-- <div class="tm_shape_4 tm_primary_bg"></div> -->
        <div class="tm_shape tm_type1">
          <div class="tm_shape_in tm_accent_bg"></div>
        </div>
        <div class="tm_invoice_in">
          <div class="tm_invoice_head tm_align_center tm_mb20">
            <div class="tm_invoice_left">
              <div class="tm_logo">
                <% if (quotation?.user?.company[0]?.logo===null ||quotation?.user?.company[0]?.logo==="" ) { %>
                <h4>
                  <%= quotation?.user?.company[0]?.name %>
                </h4>
                <% } else { %>
                <img src="<%= quotation?.user?.company[0]?.logo %>" alt="Logo">
                <% } %>
              </div>
            </div>
            <div class="tm_invoice_right tm_text_right">
            </div>
          </div>
          <div class="tm_invoice_info tm_mb20">
            <div class="tm_invoice_info_list">
              <p class="tm_invoice_date tm_m0">Date: <b class="tm_primary_color">
                  <%= new Date(quotation?.date)?.toISOString()?.split('T')[0] %>
                </b></p>
              <p class="tm_invoice_number tm_m0">Quotation No: <b class="tm_primary_color">#<%= quotationSettings?.quotationPrefix ?? "QUO" %>-<%= quotation?.quatation_number %></b></p>
            </div>
          </div>
          <div class="tm_invoice_head tm_mb10">
            <div class="tm_invoice_left">
              <p class="tm_mb2"><b class="tm_primary_color">Quotation To:</b></p>
              <p>
                <% if (quotation?.companyAddress ==="") { %>
                <b style="text-transform: capitalize;">
                  <%= quotation?.user?.company[0]?.name %>
                </b><br>
                <%= quotation?.user?.company[0]?.address %><br>
                <%= quotation?.user?.company[0]?.city %>, <%= quotation?.user?.company[0]?.state?.name %>, <%=
                          quotation?.user?.company[0]?.country?.name %><br>
                <%= quotation?.user?.company[0]?.zip %><br>

                <% } else { %>

                <%- quotation?.companyAddress %>

                <% }  %>
              </p>
            </div>
            <div class="tm_invoice_right">
              <p class="tm_mb2"><b class="tm_primary_color">Pay To:</b></p>
              <p>
                <% if (quotation?.customerBillingAddress ==="") { %>
                <b style="text-transform: capitalize;">
                  <%= quotation?.customer?.name %>
                </b><br>
                <%= quotation?.customer?.billingAddress?.address %><br>
                <%= quotation?.customer?.billingAddress?.city %>, <%= quotation?.customer?.billingAddress?.state?.name %>,
                <%= quotation?.customer?.billingAddress?.country?.name %><br>
                <%= quotation?.customer?.billingAddress?.zip %><br>
                <% } else { %>

                <%- quotation?.customerBillingAddress %>

                <% }  %>
              </p>
            </div>
          </div>
          <div class="tm_table tm_style1 tm_mb30">
            <div class="">
              <div class="tm_table_responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="tm_width_3 tm_medium tm_white_color tm_accent_bg">Item</th>
                      <th class="tm_width_1 tm_medium tm_white_color tm_accent_bg">Qty
                      </th>
                      <th class="tm_width_1 tm_medium tm_white_color tm_accent_bg">HSN</th>
                      <th class="tm_width_1 tm_medium tm_white_color tm_accent_bg">Tax(%)</th>
                      <th class="tm_width_2 tm_medium tm_white_color tm_accent_bg">Price</th>
                      <th class="tm_width_2 tm_medium tm_white_color tm_accent_bg tm_text_right">
                        Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% quotation?.product?.forEach(product=> { %>
                    <tr>
                      <td class="tm_width_3">
                        <%= product?.product?.name %>
                      </td>
                      <td class="tm_width_1">
                        <%= product?.quantity %>
                      </td>
                      <td class="tm_width_1">
                        <%= product?.product?.hsnCode?.code %>
                      </td>
                      <td class="tm_width_1">
                        <%= product?.product?.tax?.percentage %>%
                      </td>
                      <td class="tm_width_2">
                        <%= product?.product?.currency?.symbol %>
                        <%= product?.product?.price %>
                      </td>
                      <td class="tm_width_2 tm_text_right">
                        <%= product?.product?.currency?.symbol %>
                        <%= product?.total %>
                      </td>
                    </tr>

                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tm_invoice_footer">
              <div class="tm_left_footer">
                <!-- <p class="tm_mb2"><b class="tm_primary_color">Payment info:</b></p>
                <p class="tm_m0">Credit Card - 236***********928 <br>Amount: $1732</p> -->
              </div>
              <div class="tm_right_footer">
                <table>
                  <tbody>
                    <tr>
                      <td class="tm_width_3 tm_primary_color tm_border_none tm_bold">Subtoal</td>
                      <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_bold">
                        <%= quotation?.user?.currency?.symbol %>
                        <%= quotation?.sub_total %>
                      </td>
                      </td>
                    </tr>
                    <% if(quotation?.tax_id !==null ){ %>
                    <tr>
                      <td class="tm_width_3 tm_primary_color tm_border_none tm_pt0">Tax <span class="tm_ternary_color">(<%=
                              quotation?.tax?.percentage %>%)</span></td>
                      <td class="tm_width_3 tm_primary_color tm_text_right tm_border_none tm_pt0">
                        <%= quotation?.user?.currency?.symbol %>
                        <%= ((quotation?.tax?.percentage / 100) * quotation?.sub_total).toFixed(2) %>
                      </td>
                    </tr>
                    <% } %>
                    <% if(quotation?.discountPercentage !==null || quotation?.discountPercentage >0 ){ %>

                    <tr class="tm_gray_bg">
                      <td class="tm_width_3 tm_primary_color">Discount <span class="tm_ternary_color">(<%=
                                  quotation?.discountPercentage %>%)</span></td>
                      <td class="tm_width_3 tm_primary_color tm_text_right">
                        <%= quotation?.user?.currency?.symbol %>
                        <%= ((quotation?.discountPercentage / 100) * quotation?.sub_total).toFixed(2) %>
                      </td>
                    </tr>
                    <% } %>
                    <tr class="tm_border_top">
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color">
                        Grand
                        Total </td>
                      <td class="tm_width_3 tm_border_top_0 tm_bold tm_f16 tm_primary_color tm_text_right">
                        <%= quotation?.user?.currency?.symbol %>
                        <%= quotation?.total %>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="tm_shape_3 tm_accent_bg_10"></div>
              </div>
            </div>
          </div>
          <div class="tm_invoice_head tm_mb10" style="height: auto;margin-top: -100px;">
            <div class="tm_invoice_left" style="width: 49%">
              <table class="table table-bordered">
                <tr>
                  <td class="font-weight-bold left">Company:</td>
                  <td class="left">
                    <%= quotation?.user?.company[0]?.name %>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Address:</td>
                  <td>
                    <%= quotation?.user?.company[0]?.address %><br>
                    <%= quotation?.user?.company[0]?.city %>, <%= quotation?.user?.company[0]?.state?.name %>, <%=
                              quotation?.user?.company[0]?.country?.name %><br>
                    <%= quotation?.user?.company[0]?.zip %><br>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">VAT Number:</td>
                  <td>
                    <%= quotation?.user?.company[0]?.vat %>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Email:</td>
                  <td>
                    <%= quotation?.user?.email %>
                  </td>
                </tr>
              </table>
            </div>
            <div class="tm_invoice_right tm_text_right" style="width: 49%;text-align:left">
              <table class="table table-bordered float-right">
                <tr>
                  <td class="font-weight-bold mr-2">Tel:</td>
                  <td style="text-align:left">
                    <%= quotation?.user?.company[0]?.phone %>
                  </td>
                </tr>
                <!-- <tr>
                    <td class="font-weight-bold mr-2">WWW:</td>
                    <td>{{ $invoice->company->website }}</td>
                  </tr> -->
              </table>
            </div>
          </div>
          <div>
            <hr />
          </div>
          <div class="m-0">
            <table class="table table-bordered">
              <tr>
                <td>Recipient's Details</td>
                <td>
                  <p>
                    <% if (quotation?.companyAddress ==="") { %>
                    <b style="text-transform: capitalize;">
                      <%= quotation?.user?.company[0]?.name %>
                    </b><br>
                    <%= quotation?.user?.company[0]?.address %><br>
                    <%= quotation?.user?.company[0]?.city %>, <%= quotation?.user?.company[0]?.state?.name %>, <%=
                          quotation?.user?.company[0]?.country?.name %><br>
                    <%= quotation?.user?.company[0]?.zip %><br>

                    <% } else { %>

                    <%- quotation?.companyAddress %>

                    <% }  %>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Payer's Name & Address</td>
                <td>
                  <p>
                    <% if (quotation?.customerBillingAddress ==="") { %>
                    <b style="text-transform: capitalize;">
                      <%= quotation?.customer?.name %>
                    </b><br>
                    <%= quotation?.customer?.billingAddress?.address %><br>
                    <%= quotation?.customer?.billingAddress?.city %>, <%= quotation?.customer?.billingAddress?.state?.name %>,
                    <%= quotation?.customer?.billingAddress?.country?.name %><br>
                    <%= quotation?.customer?.billingAddress?.zip %><br>
                    <% } else { %>

                    <%- quotation?.customerBillingAddress %>

                    <% }  %>

                  </p>
                </td>
              </tr>
              <tr>

                <td colspan="2" class="p-0">
                  <table class="w-100">
                    <tr>
                      <td>Ref. No.</td>
                      <td>
                        <%= quotation?.reference_number ?? quotation?.quatation_number %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="p-0">
                  <table class="w-100">
                    <tr>
                      <td>Due Date</td>
                      <td>
                        <%= new Date(quotation?.expiry_at)?.toISOString()?.split('T')[0] %>
                      </td>
                      <td>
                        <%= quotation?.user?.currency?.symbol %>
                        <%= quotation?.total %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col">
              <%- quotationSettings?.footer ?? "The payment will be cleared for the recipient in accordance with the General items for payment transmission and only on the basis of the account number given by the payer." %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>